:root {
    --chat-width:  1396px;

    --glow-color: rgba(255, 255, 255, 0.13);
    --shadow-color: rgba(0, 0, 0, 0.35);
}

form {
    height: 100%;
    padding-left: 20px;
}

.chat-window {
    position: absolute;
    top:      20px;
    left:     calc(50% - var(--chat-width)*0.5);
    width:    var(--chat-width);
    bottom:   20px;
    align-items: center;

    font-size: 20px;
    color: #444444;
    background: #ffffff;
    box-shadow: 0 0 12px var(--glow-color);
    border-radius: 5px;
}

.left-pane {
    float: left;
    border-right: #cccccc 1px solid;
    width: 25%;
    height: 100%;
}

.right-pane {
    float: left;
    width: calc(75% - 2px);
    height: 100%;
}

.contacts {
    height: calc(100% - 110px);
    overflow-y: scroll;
}

.user-info {
    height: 54px;
    border-bottom: #cccccc 1px solid;
    padding-top: 6px;
    padding-left: 8px;
}

.chat {
    height: calc(100% - 160px);
    width: 100%;
    font-size: 16px;
    margin-top: 20px;
    overflow-y: scroll;
}

.new-message {
    height: 80px;
    width: 100%;

    border-top: #cccccc 1px solid;
}

#message-input {
    border-radius: 0px;
    border: 0;
    height: calc(100% - 3px - 20px);
    margin: 0;
    float: left;
    width: calc(100% - 70px - 20px);
    resize: none;
    font-family: Nunito, serif;
    font-size: 13pt;
    padding: 10px;
}

#message-submit {
    float: left;
    font-size: 32px;
    height: 100%;
    padding: 18px;
    cursor: pointer;
}

.message-row {
    width: 100%;
    height: 60px;
    float: top;
}

.message-self{
    padding: 10px;
    margin: 8px;
    float: right;
    color: #ffffff;
    background: #823385;
    border-color: #823385;
    border-radius: 24px;
    box-shadow: 0 0 8px rgb(157, 157, 157);
}

.message-other{
    padding: 10px;
    margin: 8px;
    float: left;
}

.search-box {
    height: 62px;
}

#search-input {
    width: 60%;
    height: 10px;
    border: 0;
    padding-left: 0;
    margin-left: 15px;
    border-bottom: 1px solid #b6b6b6;
    border-radius: 0;
    float: left;
}

#search-input:hover {
    border-bottom: 1px solid #be48c1;
}

#search-input:focus {
    border-bottom: 1px solid #be48c1;
    outline-width: 0;
}

.search-label {
    font-size: 12pt;
    padding: 10px;
}

.search-return {
    padding: 10px;
    font-size: 12pt;
    color: #823385;
    font-weight: bold;
}

.search-return:hover {
    color: #9d39a0;
}

.search-submit {
    float: left;
    padding-top: 20px;
    padding-left: 20px;
    cursor: pointer;
}

.profile-pic {
    float: left;
}

.data-disclosure {
    color: #823385;
    cursor: pointer;
}

.data-disclosure:hover {
    color: #d17edc;
}

.personal-info {
    height: 48px;
}

.personal-info-pic {
    padding-top: 6px;
    padding-left: 6px;
    float: left;
}

.change-profile-pic {
    float: right;
    padding-top: 2px;
    padding-right: 6px;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.logout-pic {
    float: right;
    padding-top: 2px;
    padding-right: 6px;
    width: 36px;
    height: 36px;
    cursor: pointer;
}
