.conversation{
    padding: 20px;
    color: #a23aa5;
    height: 20px;
    font-size: 13pt;
}

.conversation:hover{
    color: #ca40cd;
}

.conv-profile-pic {
}

.conv-label {
    padding-top: 13px;
    margin-left: 8px;
    float: left;
    text-align: left;
}
