:root {
    --home-width:  450px;
    --home-height: 300px;
}
.home-message {
    position: absolute;
    top:      calc(50% - var(--home-height)*0.5);
    left:     calc(50% - var(--home-width)*0.5);
    width:    var(--home-width);
    height:   var(--home-height);
    align-items: center;

    font-size: 20px;
    color: #444444;
    background: #ffffff;
    box-shadow: 0 0 12px var(--glow-color);
    border-radius: 10px;
}

a {
    color: #823385;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: #9a379d;
}
