:root {
  --background: #3b193e;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  font-family: 'Nunito', sans-serif;
  overflow: hidden;
}


input[type="submit"] {
  color: #ffffff;
  background: #823385;
  font-size: 18px;
  border: none;
  border-radius: 24px;
  padding: 15px 24px;
  box-shadow: 0 0 12px var(--shadow-color);
  cursor: pointer;
}

input[type="submit"]:hover {
  background: radial-gradient(farthest-side at 70px 70px, #be48c1, #823385);
}

input[type="text"], input[type="password"] {
  border: rgb(160, 160, 160) 1px solid;
  border-radius: 12px;
  padding: 15px 20px;
  margin: 10px 14px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.logo {
  margin: 50px 10px 30px;
}
