:root {
    --login-form-width:  450px;
    --login-form-height: 500px;

    --glow-color:   rgba(255, 255, 255, 0.4);
    --shadow-color: rgba(0, 0, 0, 0.35);
}

form {
    height: 100%;
    padding-left: 20px;
}

.login-form {
    position: absolute;
    top:      calc(50% - var(--login-form-height)*0.5);
    left:     calc(50% - var(--login-form-width)*0.5);
    width:    var(--login-form-width);
    height:   var(--login-form-height);
    align-items: center;

    font-size: 20px;
    color: #444444;
    background: #ffffff;
    box-shadow: 0 0 12px var(--glow-color);
    border-radius: 10px;
}

.new-account {
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    color: #444444;
    margin-left: -45px;
}

.new-account:hover {
    color: #606060;
}

.login-submit {
    margin-top: 100px;
    margin-left: 20px;
}

#login-form-form {
    margin-left: 60px;
}