:root {
    --logout-width:  450px;
    --logout-height: 350px;
}
.logout-message {
    position: absolute;
    top:      calc(50% - var(--logout-height)*0.5);
    left:     calc(50% - var(--logout-width)*0.5);
    width:    var(--logout-width);
    height:   var(--logout-height);
    align-items: center;

    font-size: 20px;
    color: #444444;
    background: #ffffff;
    box-shadow: 0 0 12px var(--glow-color);
    border-radius: 10px;
}

a {
    color: #823385;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: #9a379d;
}
