:root {
    --window-width:  300px;
    --window-height: 200px;

    --glow-color:   rgba(255, 255, 255, 0.4);
    --shadow-color: rgba(0, 0, 0, 0.35);
}

.not-found {
    position: absolute;
    top:      calc(50% - var(--window-height)*0.5);
    left:     calc(50% - var(--window-width)*0.5);
    width:    var(--window-width);
    height:   var(--window-height);
    align-items: center;

    font-size: 20px;
    color: #444444;
    background: #ffffff;
    box-shadow: 0 0 12px var(--glow-color);
    border-radius: 10px;
}

.status-label {
    font-size: 20px;
    color: #b85665;
    margin: 40px;
}