:root {
    --reg-form-width:  600px;
    --reg-form-height: 700px;

    --glow-color:   rgba(255, 255, 255, 0.4);
    --shadow-color: rgba(0, 0, 0, 0.35);
}

.register-form {
    position: absolute;
    top:      calc(50% - var(--reg-form-height)*0.5);
    left:     calc(50% - var(--reg-form-width)*0.5);
    width:    var(--reg-form-width);
    height:   var(--reg-form-height);
    align-items: center;

    font-size: 20px;
    color: #444444;
    background: #ffffff;
    box-shadow: 0 0 12px var(--glow-color);
    border-radius: 10px;
}

.row {
    width: 100%;
    clear: left;
}

label {
    float: left;
}

.new-account-header {
    margin: 20px;
    margin-bottom: 30px;
    font-size: 28px;
}

.login-instead {
    text-decoration: none;
    color: #444444;
}

.login-instead:hover {
    color: #606060;
}

.login-instead:visited {
}

.create-account {
    margin: 40px;
}

#register-form-form {
    width: 100%;
    margin-left: 30px;
}

input[type="submit"] {
    margin-top: 70px;
}